// out: null
@import './_var.less';
@font-face {
    font-family: 'Fira Code';
    src: url('@/assets/fonts/woff2/FiraCode-Regular.woff2') format('woff2'),
        url("@/assets/fonts/woff/FiraCode-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}
html, body, ul, li, p, h1, h2, h3, h4, section, nav{
    margin: 0;
    padding: 0;
    font-size: var(--normal);
}
html, body{
    min-height: 100vh;
    background-color: var(--body);
    font-family: Arial, Helvetica, sans-serif, 'Microsoft Yahei';
    color: var(--front);
    transition: background 0.5s, color 0.5s;
}
ul, li{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--front);
    transition: color 0.5s;
}

#header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    line-height: var(--header-height);
    background: linear-gradient(30deg, var(--primary) 50%, var(--secondary) 100%);
    z-index: 100;
    margin-bottom: var(--gap);
    .wrapper{
        width: 95%;
        margin: 0 auto;
        max-width: 1200px;
        display: flex;
        gap: var(--gap);
        position: relative;
    }
    .logo{
        color: var(--background);
        font-weight: bold;
        transition: color 0.5s;
    }
    nav{
        display: flex;
        justify-content: flex-end;
    }
    ul{
        display: flex;
        gap: var(--gap);
        margin-right: var(--gap);
        a{
            color: var(--background);
            transition: color 0.5s;
        }
    }
    .meta{
        position: absolute;
        right: 0;
        right: 0;
        width: 100px;
        height: 100%;
    }
    .mode{
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        .sun, .moon{
            position: absolute;
            top: 3px;
            left: 40px;
            transition: 0.5s;
            transform-origin: 50% 100%;
        }
        &.day{
            .sun{
                transform: rotate(0turn);
            }
            .moon{
                transform: rotate(.25turn);
                opacity: 0;
            }
        }
        &.night{
            .sun{
                transform: rotate(-.25turn);
                opacity: 0;
            }
            .moon{
                transform: rotate(0turn);
            }
        }
        g, path{
            stroke: var(--background);
        }
    }
}
#container{
    width: 95%;
    margin: 0 auto;
    max-width: 1200px;
}
.article{
    &-item{
        border-radius: var(--radius);
        background-color: var(--background);
        padding: var(--gap);
        margin-bottom: var(--gap);
        display: grid;
        grid-template-columns: 90px 1fr;
        gap: var(--gap);
        position: relative;
        transition: background 0.5s;
        .image{
            width: 90px;
            height: 90px;
            border-radius: var(--radius);
            overflow: hidden;
            img{
                object-fit: cover;
                display: block;
                width: 100%;
                height: 100%;
            }
        }
        .title{
            a:hover{
                color: var(--primary);
            }
        }
        .date{
            opacity: 0.3;
            position: absolute;
            top: var(--gap-small);
            right: var(--gap-small);
        }
        .meta{
            display: flex;
            gap: var(--gap-small);
            font-size: var(--small);
            padding: var(--gap-small) 0;
            span{
                color: var(--primary);
                cursor: pointer;
            }
        }
        .desc{
            opacity: 0.5;
            overflow: hidden;
            word-break: break-all;
            height: 32px;
            font-size: var(--small);
        }
    }
}
#footer{
    text-align: center;
    padding: var(--gap) 0;
    background-color: var(--background);
    margin-top: calc(var(--gap) * 2);
    position: relative;
    transition: background-color 0.5s;
    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: linear-gradient(to right, var(--primary) 50%, var(--secondary) 100%);
    }
}
.ink{
    position: relative;
    &:before{
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
        background-color: var(--primary);
        border-radius: var(--radius);
        width: 3px;
        height: 12px;
    }
}